@page
@model UAInnovate.Pages.Suggestions.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Suggestions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Suggestions.Id" />
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Suggestions.Date" class="control-label"></label>
                <input asp-for="Suggestions.Date" class="form-control" />
                <span asp-validation-for="Suggestions.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Suggestions.SuggestionText" class="control-label"></label>
                <input asp-for="Suggestions.SuggestionText" class="form-control" />
                <span asp-validation-for="Suggestions.SuggestionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Suggestions.Priority" class="control-label"></label>
                <select asp-for="Suggestions.Priority" class="form-control"></select>
                <span asp-validation-for="Suggestions.Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Suggestions.Status" class="control-label"></label>
                <select asp-for="Suggestions.Status" class="form-control"></select>
                <span asp-validation-for="Suggestions.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
